<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Rock Paper Scissors</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rps.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Rock. Paper. Scissors.</a>
                </div>
            </div>
        </nav>



        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <h2>How to play</h2>
                    <h4>Click on play and await your fate.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div id="rock" class="rock text-center">
                        <img  class="game-element" src="/images/rock.png" alt="rock">
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div id="paper" class="paper text-center">
                        
                        <img class="game-element"  src="/images/paper.png" alt="paper">
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div id="scissors" class="scissors text-center">
                        <img  class="game-element" src="/images/scissors.png" alt="scissors">
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-top: 20px;"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <button id="play" onclick="playGame()" class="btn btn-info btn-block">Play</button>
                </div>
            </div>
        </div>

        <script src="/javascripts/rps.js"></script>
        <script
        src="http://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>